.head {
    background: #8adef8;
    border: 2px solid #8adef8;
    color: #ffffffd7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
    margin: auto;
    width: 30%;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .subhead {
    background: #8adef8a8;
    border: 2px solid #8adef8;
    color: #ffffffd7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
    margin: auto;
    width: 12%;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  * {box-sizing:border-box;}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-width: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: #2e474e80;
}

.java {width: 90%; background-color: #a3c4c9; border: 1px solid #a5acad} /* Green */
.javascript {width: 85%; background-color: #a3c4c9; border: 1px solid #a5acad} /* Blue */
.python {width: 70%; background-color: #a3c4c9; border: 1px solid #a5acad} /* Red */
.r {width: 65%; background-color: #a3c4c9; border: 1px solid #a5acad} /* Dark Grey */
.html {width: 70%; background-color: #a3c4c9; border: 1px solid #a5acad}
.css {width: 60%; background-color: #a3c4c9; border: 1px solid #a5acad}
.ocaml {width: 50%; background-color: #a3c4c9; border: 1px solid #a5acad}
.php {width: 40%; background-color: #a3c4c9; border: 1px solid #a5acad} 

