.App {
  text-align: center;
  background-color: "487583";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #487583;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.textBox {
  background: #8adef880;
  border: 2px solid #8adef8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 85%;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  justify-content: center;
}

.button {
  background: #8adef880;
  border: 1px solid #8adef880;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #8adef8;
}

.button:active {
  opacity: .5;
}

.heading {
  background: #487583;
  border: 2px solid #487583;
  color: #ffffffd7;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 50%;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.subtitle {
  font-family: "Candara";
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 5px;
}

.text {
  font-family: "Candara";
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.background {
  background-color: #80a9b6;
  margin: 0;
}

.header {
  background: #487583;
  border: 2px solid #487583;
  color: #ffffffd7;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 45%;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.box {
  background: #487583;
  border: 2px solid #487583;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 80%;
  padding: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

body{
  background-color: #e6f9ff !important;
}

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.solid-text {
  background: #bfeaf7;
  border: 2px solid #8adef8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.semesters {
  background: #8adef8;
  border: 2px solid #8adef8;
  color: #487583;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 70%;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 4px;
  text-align: left;
}

.semesters:hover,
.semesters:active {
  background: #8adef8;
  background-position: 0 0;
  color: #FFFFFF;
}

.semesters:active {
  opacity: .5;
}

.semesters-text {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;

}

.semesters-icon {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
  margin-right: 10px
}


.button-dark {
  background: #487583;
  border: 1px solid #487583;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-dark:hover,
.button-dark:active {
  background-color: initial;
  background-position: 0 0;
  color: #487583;
}

.button-dark:active {
  opacity: .5;
}

.button-light {
  background: #8adef8;
  border: 1px solid #8adef8;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #20414b;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-light:hover,
.button-light:active {
  background-color: initial;
  background-position: 0 0;
  color: #8adef8;
}

.button-light:active {
  opacity: .5;
}


.menu-bar{
  background: #69bdd6;
  border: 2px solid #69bdd6;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0px
}

.box-light {
  background-color: #bbdce4;
  border: 2px solid #487583;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px;
  margin: auto;
  width: 80%;
  padding: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}